<html lang="es">

<head>
    <title>TuSegundazo.com</title>
</head>

<body class="container">
    <header class="header">
        TuSegundazo.com
    </header>

    <hr>
    <div>
        <img src="../assets/banner.png" alt="Car" class="car-image">
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <app-vehicle></app-vehicle>
        </div>
    </div>

    <footer>
        Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo
    </footer>
</body>

</html>