<html lang="es">

<head>
    <title>TuSegundazo.com</title>
</head>

<body>
    <header class="header">
        TuSegundazo.com
    </header>
    <hr>
    <div class="container mt-4">
        <div class="row align-items-center">
            <div class="col-md-12 car-image">
                <img src="../assets/banner.png" alt="Auto">
            </div>
        </div>

        <app-vehicle></app-vehicle>

        <footer>
            Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo
        </footer>
    </div>
</body>

</html>